@model Realtor.Models.InscriptionsListModel
@{
    ViewBag.Title = "Realty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="featured-slideshow">
    <ul class='bjqs'>
    @foreach ( var ins in  Model.InscriptionsList){
   <li> <a href="@Url.Content(ins)" target="_blank">
            <img src='@Url.Content(ins)' >
            <span>
                @ins
            </span>
        </a>
    </li>
    }
   </ul>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#banner-fade').bjqs({
            'height': 320,
            'width': 620,
            'responsive': true
        });
    });
</script>